body{
    background-image: url("./images/bg.png");
}
header a {
    text-decoration: none;
    font-size: 40px;
    font-weight:lighter;
    color: black;
    background-color: rgb(207, 63, 63);
    padding: 2px 4px 2px 10px;
    border-radius: 5px;
   
}

.Karte{
    position: absolute;
    top: 170px;
    left: 450px;
    width: 600px;
    height: 500px;
}

.Hintergrund{
    background-image: url("./images/wrapperbg.png");
    background-repeat: no-repeat;
}
.Busch{
    position: absolute;
    top: -50px;
    left: -60px;
}

.Pinguin{
    position: absolute;
    left: 500px;
    top: 230px;
}

.Überschrift{
    position: absolute;
    right: 210px;
    top: 30px;
    color: white;
}

.Text{
    position: absolute;
    right: 70px;
    top: 160px;
    color: white;

}