body{
    background-image: url("./images3/bg.png");
}

.Karte{
    position: absolute;
    top: 170px;
    left: 450px;
    width: 600px;
    height: 500px;
}

.Hintergrund{
    background-image: url("./images3/wrapperbg.png");
    background-repeat: no-repeat;
}

.Überschrift{
    color:white;
    position: absolute;
    right: 500px;
    top: 30px;
}

.Pinguin{
    position: absolute;
    left: 500px;
    top: 230px;
}


.Text{
    position: absolute;
    right: 160px;
    top: 200px;
    color: white;
}