h1{
    color:snow
}
h2{
    color: white;
}
p{
    color: white;
}
h4{
    color: rgb(71, 45, 51);
}
body{
    background-color: rgb(95, 27, 95);
    font-family: sans-serif;
}

nav{
    position: sticky;
}
li{
    list-style: none;
    display: inline;
    padding-right: 10px;
    background-color: slategrey;
    color: blueviolet;
    text-align: center;
    font-size: 32px;
    margin: 0 0 40px 0;
    padding-right: 20px;

}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}