
h4{
    color: rgb(172, 46, 8);
}
body{
    background-image: url("../Aufgabe03/images/bg.png");
    overflow-y: scroll;
}
nav{
    position: sticky;
}

a{
    font-family: Arial, sans-serif;
    font-size: medium;
    color: mintcream;
}
#Kreis {
    border-radius: 600px;
    background: rgb(172, 46, 8);
    padding: 400px; 
    width: 150px;
    height: 150px;  
    margin: -520px 0px 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


